version: "3"

services:
  n8n:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=fQ7tp9!jswLpz3bA
      - WEBHOOK_URL=https://n8n.portalgm.ru/
      - N8N_EMAIL_MODE=smtp
      - N8N_SMTP_HOST=smtp.gmail.com
      - N8N_SMTP_PORT=587
      - N8N_SMTP_USER=ekaterinagirudochat@gmail.com
      - N8N_SMTP_PASS=bsqc wbyk jdpw rivf
      - N8N_SMTP_SENDER=ekaterinagirudochat@gmail.com
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_PUSH_BACKEND=websocket
      - N8N_ENABLE_PYTHON_EXECUTION=true
      - N8N_PYTHON_EXECUTABLE=python3
      - TZ=Europe/Moscow
    volumes:
      - /root/n8n_data:/home/node/.n8n

  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d/n8n.conf:/etc/nginx/conf.d/n8n.conf  # ✅ Правильный маппинг конфигура
      - /etc/letsencrypt:/etc/letsencrypt:ro                  # ✅ Для SSL-сертификатов.
    ports:
      - "80:80"
      - "443:443"

volumes:
  n8n_data:
  certbot-etc: