#docker-compose.yml
version: "3.9"

services:
  n8n:
    container_name: n8n_n8n_1
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - WEBHOOK_URL=https://n8n.portalgm.ru/
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - N8N_EMAIL_MODE=smtp
      - N8N_SMTP_HOST=${N8N_SMTP_HOST}
      - N8N_SMTP_PORT=${N8N_SMTP_PORT}
      - N8N_SMTP_USER=${N8N_SMTP_USER}
      - N8N_SMTP_PASS=${N8N_SMTP_PASS}
      - N8N_SMTP_SENDER=${N8N_SMTP_SENDER}
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_PUSH_BACKEND=websocket
      - N8N_ENABLE_PYTHON_EXECUTION=true
      - N8N_PYTHON_EXECUTABLE=python3
      - N8N_PYTHON_MODULES=pymysql,requests,pandas
      - TZ=Europe/Moscow
    volumes:
      - /root/n8n_data:/home/node/.n8n
    networks:
      - caddy_net
    # НИ КАКИХ ports: тут быть не должно

networks:
  caddy_net:
    external: true  # сеть уже создана: docker network create caddy_net!

volumes:
  n8n_data: